.DS_Store
.idea

week14/component/node_modules/
week15/component/node_modules/
week16/component/node_modules/
week17/component/node_modules/
week17/tools/angular-app/node_modules/
week17/tools/react-app/node_modules/
week17/tools/vue-app/node_modules/
week18/component/node_modules/
week19/component/node_modules/
week20/component/node_modules/
week21/component/node_modules/
week22/component/node_modules/
week23/component/node_modules/
week24/component/node_modules/
